# Local environments and caches
.venv/
.env
.cache/

# Editor artifacts
.DS_Store
.idea/
*.swp
ytracker-tauri/src-tauri/crates/ytracker_api/target/.rustc_info.json
ytracker-tauri/src-tauri/crates/ytracker_api/target/flycheck0/stderr
ytracker-tauri/src-tauri/crates/ytracker_api/target/flycheck0/stdout
